body {
  background-color: #999999;
  background-image: url("sasd.png");
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  background-color: #4568B7;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  padding-bottom: 24px;
 /* padding-left: 24px; */
  /*padding-right: 24px; */
}

/* style for dummy columns, delete and replace with your own CSS */
.dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 24px;
}

nav li{ 
  
  width: 200px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: white;
  color: white;
  display: inline-block;
  border-radius: 2em;
}

nav li a {
  color: grey;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;}

nav li a:hover{
  background-color: lightskyblue;
  color: black;
  font-weight: bold;
  border-radius: 2em;
  transition: background-color 0.5s, width 2.0s, color 0.5s;
  text-shadow: 2px 2px 2px gray;
}


nav{
  grid-column: span 12;
  text-align: center;
  background-color: #4568B7;
  border-radius: 2em;
}





.container{
position: relative;
text-align: center;
color: white;
display: block;
}

.centered{
position: absolute;
text-align: center;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}


main img{
  grid-column: span 12;
  float: center;
  width: 1200px;
  align-self: center;
  border: none;
}




.column {
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#fancydiv{
  grid-column: span 12;
  padding-bottom: 20px;
}

#fancydiv img{
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
}

main{
  grid-column: span 12;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


aside iframe{
  padding-left: 12px;
  margin-right: 50px;
  width: 560px;
}

aside{
  text-align: right;
  grid-column: span 4;
  display: flex;
  padding: left 20px;
  margin-top: 20px;
}

aside p{
/*margin-left: 12px;*/
color: white;
margin-right: 20px;
text-align: center;
}

h3{
  margin-left: 20px;
  text-decoration: underline;
}

footer a:hover{
  color: black;
}

footer{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
  font-size: 35px;
  font-weight: bold;
  grid-column: span 12;
  background-color: white;
  color: black;
  border-radius: 2em;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: 20px;
  margin-right: 20px;
}